* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    /* align-items: center; */
    background: #f7e9e9;
    font-family: Arial, sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width: 90vmin;
}
.piece{
    display: flex;
    justify-content: center;
    align-items: center;
}
#board {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 90vmin;
    width: 90vmin;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: background-color 0.3s;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    transition: background-color 0.3s;
}
.square img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
    /* transform: scale(1.2); */
}
.square:hover img {
    transform: scale(1.2);
    cursor: pointer;
}
.gray {
    background-color: #e0e0e0;
}
.highlight {
    background-color: #fffc8f;
}
#turn {
    /* margin-bottom: 10px; */
    font-size: 1.5rem;
    font-weight: bold;
}
#reset{
    /* margin-top: 20px; */
    padding: 10px 20px;
    font-size: 1rem;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#reset:hover {
    background-color: #464b51;
}
#reset:active {
    background-color: #003d7a;
}


#congratsMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#congratsMessage.visible {
    opacity: 1;
}

.hidden {
    display: none;
}
